body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.signin-form {
  border: 1px solid #e1e1e1;
  padding: 10px;
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}
.signin-form h1 {
  margin: 15px 0;
  text-align: center;
  font-size: 25px;
}
